* {
    margin: 0
}

  @font-face {
    font-family: "Raleway-Regular";
    src: url(../fonts/static/Raleway-Regular.ttf);
  }

  @font-face {
    font-family: "Raleway-Bold";
    src: url(../fonts/static/Raleway-Bold.ttf);
  }
  
  body {
    margin: auto;
    max-width: 1400px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway-Regular", sans-serif;
  }

/* HEADER */
  .header {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 3.818rem;
    height: 1.188rem;
    padding: 50px;
  }

  .menu {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 50px;
  }

  .menu-li {
    list-style-type: none;
  }

  .menu-a {
    padding: 48px 25px 48px 25px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 400;
  }

  .menu-a:hover {
    color: #0065fc;
    border-top: 2px  solid #0065fc;
  }

  /* MAIN // RESEARCH */   
  .main-title {
    font-weight: 700;
    font-size: 1.375rem;
    margin-left: 50px;
  }

  .presentation {
    font-weight: 400;
    font-size: 1rem;
    margin-left: 50px;
    padding-top: 10px;
  }

  .form-container {
    display: flex;
    margin: 20px 0px 0px 50px;
  }

  .form-search {
    border: 1px solid #f2f2f2;
  }

  .location-icon {
    padding: 20px;
    border-radius: 15px 0px 0px 15px;
    background-color: #f2f2f2;
  }

  #location {
    font-weight: 700;
    font-size: 1.125rem;
    border: none;
    padding: 15px;
    color: black;
  }

  .button-search {
    font-weight: 700;
    font-size: 1.125rem;
    padding: 15px;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065fc;
    color: white;
  }

  .button-span {
    display: block;
  }

  .button-i {
    display: none;
  }

  /* FILTERS */
  .filters-container {
    display: flex;
    margin: 30px 0px 0px 40px;
  }

  .filters-title { 
    margin-right: 40px;
    padding: 15px;
  }

  .filters-called {
    font-weight: 700;
    font-size: 1.125rem;
  }

  .filter-choice {
    display: flex;
    border: 3px solid #f2f2f2;
    border-radius: 30px;
    margin-right: 50px;
    padding: 10px;
    text-align: center;
  }

  .filter-choice:hover {
    background-color: #deebff;
  }

  .filter-icon {
    color: #0065fc;
    padding: 7px;
  }

  .filter-a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.063rem;
    padding: 5px;
  }

  /* INFO */
  .info-container {
    display: flex;
    margin: 30px 0px 0px 50px;
  }

  .info-container-icon {
    margin-right: 10px;
    padding-top: 2px;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    text-align: center;
  }
  .info-icon {
    color: #0065fc;
    font-size: smaller;
  }

  .info-p {
    padding-top: 4px;
    font-weight: 400;
    font-size: 1rem;
  }

  /* ARTICLE */

  .first-article {
    display: flex;
    margin: 30px 0px 0px 50px;
  }

  /* LOCATIONS */

  .locations-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    background-color: #f2f2f2;
  }

  .locations-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    margin: 30px 30px 0px 30px;
  }

  #locations-title, .famous-title {
    font-weight: 700;
    font-size: 1.375rem;
    margin: 30px 30px 0px 30px;
  }

  .location-card {
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
    max-width: 30%;
    box-sizing: border-box;
    aspect-ratio: 3/2;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  }

  .location-img {
    width: 100%;
    box-sizing: border-box;
    aspect-ratio: 4/2;
    border: 5px solid white;
    border-bottom: none;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  }

  .location-p-title {
    font-weight: 700;
    font-size: 1rem;
    margin: 5px 20px;
  }

  .location-p {
    font-weight: 400;
    font-size: 0.875rem;
    margin: 5px 20px;
  }
  .locations-more {
    margin: 0px 0px 30px 30px;
  }

  .locations-more-a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.125rem;
    text-align: justify;
  }

  .locations-stars, .famous-stars {
    color: #0065fc;
  }

  .locations-stars :nth-child(6), .famous-stars :nth-child(6){
    color: #f2f2f2;
  }

  .locations-stars {
    margin: 5px 10px 10px 20px;
  }

  /* FAMOUS  */

  .famous-container {
    width: 30%;
    margin: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    background-color: #f2f2f2;
  }
  
  .famous-container-title {
    display: flex;
  }
  
  .fa-chart-line {
    margin: 40px 0px 0px 70px;
    color: #0065fc;
  }

  .famous-card {
    display: flex;
    margin: 30px;
    text-decoration: none;
    color: black;
    max-height: 30%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.3);
  }

  .famous-container-text {
    width: 60%;
    margin: 0px 2px 0px 20px;
  }

  .famous-img {
    width: 40%;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    border: 5px solid white;
    border-right: none;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
  }

  .famous-p-title{
    font-weight: 700;
    font-size: 1rem;
    margin: 10px 0px 5px 0px;
  }

  .famous-p {
    font-weight: 400;
    font-size: 0.875rem;
  }
  
  .famous-stars {
    margin-top: 35px;
  }
  
  .famous-stars3 {
    margin-top: 55px;
  }

  .euros {
    font-weight: bold;
  }

  /* ACTIVITIES */

  #activities {
    font-weight: 700;
    font-size: 1.375rem;
    margin: 50px 00px 0px 50px;
  }

  .activities-blocks {
    display: flex;
    margin: 30px;
  }
  .activity-card {
    margin-left: 30px;
    width: 25%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: white;
    border-radius: 20px;
  }
  
  .activity-img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
    aspect-ratio: 3/4;
    object-fit: cover;
  }

  .activity-p {
    width: 90%;
    padding: 20px;
    font-size: 1rem;
    font-weight: 700;
  }

  @media screen and (max-width: 991px ) {

    .first-article {
      flex-direction: column;
      margin: 30px;
    }

    .locations-container, .famous-container {
      width: 100%
    }

    .locations-container {
      margin-bottom: 30px;
    }

    .famous-container {
      margin: 0;
    }

  }
    
  @media screen and (max-width: 767px) {

    .button-span {
      display: none;
    }

    .button-i {
      display:block
    }
  }

