* {
  margin: 0
}

@font-face {
  font-family: "Raleway-Regular";
  src: url(../fonts/static/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Raleway-Bold";
  src: url(../fonts/static/Raleway-Bold.ttf);
}

body {
  margin: auto;
  max-width: 1400px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway-Regular", sans-serif;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 3.8rem;
  max-height: 1.1rem;
  padding: 30px 20px;
}

.menu {
  display: flex;
  height: 100%;
  align-items: center;
  padding-right: 10px;
}

.menu-li {
  display: flex;
  list-style-type: none;
}

.menu-a {
  flex: 1;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  padding: 30px;
  border-top: 2px solid transparent;
}

.menu-a:hover {
  color: #0065fc;
  border-top: 3px  solid #0065fc;
}

/* MAIN PAGE */
  /* RESEARCH */   

.main-page {
  padding: 20px;
}

.main-title {
  font-weight: 700;
  font-size: 1.4rem;
  padding-bottom: 10px;
}

.research-p {
  font-weight: 400;
  font-size: 1rem;    
}

.form-container {
  padding-top: 30px;
}

.form-search {
  display: flex;
}

#form-place {
  padding-left: 10px;
  font-weight: 700;
  font-size: 1.1rem;
  border: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  color: black;
  max-width: 400px;
}

.form-icon {
  padding: 0.8rem;
  border-radius: 15px 0px 0px 15px;
  background-color: #f2f2f2;
}

.button-search {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 10px;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc;
  color: white;
}

.button-span {
  display: block;
}

.button-search .button-i {
  display: none;
}

/* FILTERS */

.filters-big-container {
  display: flex;
  padding-top: 30px;
  flex-direction: row;
  gap: 1rem;
} 

.filters-title-container {
  display: flex;
  align-items: center;
  padding: 10px 8px;
}

.filters-title {
  font-weight: 700;
  font-size: 1.1rem;
}

.filters-container {
  display: flex;
  gap: 2rem;
}

.filters-choice {
  display: flex;
  border: 3px solid #f2f2f2;
  border-radius: 25px;
  align-items: center;
  padding: 10px 8px;
}

.filters-choice:hover {
  background-color: #deebff;
}

.filters-icon {
  color: #0065fc;
  padding-right: 10px;
}

.filters-a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1rem;
}

/* INFO */

.info-container {
  display: flex;
  padding-top: 30px;
  gap: 1rem;
}

.info-container-icon {
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  padding: 3px 8px;
  align-self: self-start;
}

.info-icon {
  color: #0065fc;
}

.info-p {
  font-weight: 400;
  font-size: 1rem;
  padding-top: 3px;
}

/* ARTICLE 1 */

.first-article {
  display: flex;
  gap: 20px;
  padding-top: 30px;
}

/* LOCATIONS */

.locations-container {
  box-sizing: border-box;
  padding: 30px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.locations-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

#locations-title {
  font-weight: 700;
  font-size: 1.4rem;
  padding-bottom: 1.5rem;
}

.locations-card {
  flex : 1 0 30%;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

.locations-img {
  width: 100%;
  aspect-ratio: 2/1;
  box-sizing: border-box;
  border: 5px solid white;
  border-bottom: none;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.locations-container-text {
  gap: 5px;
  padding-left: 10px;
}

.locations-p-title {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 5px;
}

.locations-p {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.locations-more {
  margin-top: auto;
  padding-top: 30px;
}

.locations-more-a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: justify;
}

.locations-stars, .famous-stars {
  color: #0065fc;
}

.locations-stars :nth-child(6), .famous-stars :nth-child(6){
  color: #f2f2f2;
}

.locations-stars {
  margin-bottom: 5px;
}

/* FAMOUS  */

.famous-container {
  box-sizing: border-box;
  padding: 30px;
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.famous-blocks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.famous-container-title {
  display: flex;
  text-align: center;
}

.famous-title {
  font-weight: 700;
  font-size: 1.4rem;
  margin-right: auto;
  padding-bottom: 1.5rem;
}

.famous-icon {
  color: #0065fc;
  padding-top: 0.5rem;
}

.famous-card {
  aspect-ratio: 2/1;
  display: flex; 
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.3);
}

.famous-img {
  width: 45%;
  aspect-ratio: 2/1;
  border: 5px solid white;
  border-right: none;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

.famous-container-text {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.famous-p-title{
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 10px;
}

.famous-p {
  font-weight: 400;
  font-size: 0.8rem;
}

.famous-stars {
  margin-top: auto;
}

.euros {
  font-weight: bold;
}

 /* ARTICLE 2  */

.second-article {
  padding-top: 50px;
}    

/* ACTIVITIES */

#activities {
  font-weight: 700;
  font-size: 1.4rem;  
}

.activities-blocks {
  display: flex;
  gap: 2rem;
  padding-top: 20px;
}

.activities-card {
  text-decoration: none;
  color: black;
  flex: 1 0 20%;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  background-color: white;
  border-radius: 20px;
}

.activities-img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  aspect-ratio: 3.5/4;
  object-fit: cover;
}

.activities-p {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
}

/* FOOTER */

.footer {
  margin: 20px 20px 0px;
  display: flex;
  background-color:#f2f2f2;
  padding: 40px;
  gap: 15%;
}

.footer-div {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 1rem;
  gap: 1rem;
}

.footer-title {
  font-weight: 700;
  font-size: 1.1rem;
  padding-bottom: 5px;
}

/* MEDIA QUERRIES */
/* Tablet 768px to 991px */

@media screen and (max-width: 991px ) {

  .header {
    padding-left: 30px;
  }

  .main-page {
    padding: 30px;
  }

  .first-article {
    flex-direction: column;
  }

  .filters-container {
    gap: 1rem;
  }

  .locations-container, .famous-container {
    width: 100%;
  }

  .locations-blocks {
    gap: 1rem;
  }

  .famous-blocks {
    flex-direction: row;
    gap: 1rem;
  }

  .famous-card {
    aspect-ratio: 2/1;
    flex: 1;
  }

  .famous-img {
    width: 30%;
  }

  .famous-container-text {
    padding: 8px;
  }

  .famous-p-title {
    font-size: 0.9rem;
  }

  .famous-stars {
    font-size: smaller;
  } 
}
  
/* Mobile under 768px */
@media screen and (max-width: 767px) {

  .header {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .logo {
    margin: auto;
    padding: 20px;
  }

  .menu {
    padding-right: 0px;
    padding-inline-start: 0px;
  }

  .menu-li {
    width: 50%;
    text-align: center;
  }
  
  .menu-a {
    padding: 20px 0px;
    border-bottom: 3px solid #f2f2f2;
  }

  .menu-a:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }

  .main-page {
    padding: 0px;
  }

  .research {
    padding: 20px;
  }

  .main-title {
    padding-right: 10px;
  }

  #form-place {
    min-width: 100px;
  }

  .button-span {
    display: none;
  }

  .button-search .button-i {
    display: block;
  }
  
  .filters-big-container {
    flex-direction: column;
    padding-top: 30px;
  }

  .filters-title-container {
    padding: 0px 8px;
  }

  .filters-container {
    display: flex;
    flex-wrap: wrap; 
  }
    
  .filters-choice {
    flex: 1 1 40%;
  }

  .filters-a {
    font-size: 0.8rem;
  }

  .info-container {
    padding-top: 30px;
  }

  .info-p {
    font-size: 0.9rem;
  }

  .first-article {
    flex-direction: column-reverse;
    padding-top: 10px;
  }
  
  .famous-container, .locations-container {
    width: 100%;
  }

  .famous-container {
    border-radius: 0px;
  }

  .famous-blocks {
    flex-direction: column;
    gap: 1rem;
  }

  .famous-card {
    aspect-ratio: 2/1;
  }

  .famous-img {
    width: 40%;
  }

  .locations-container {
    flex-direction: column;
    background-color: white;
    border: none;
  }

  .locations-blocks {
    flex-direction: column;
    gap: 1rem;
  }

  .locations-img {
    aspect-ratio: 3/1;
  }

  .locations-stars {
    font-size: smaller;
  }

  .locations-more{
    display: none;
  }

  .second-article {
    padding: 80px 0px 0px 30px;
  }

  .activities-blocks {
    flex-direction: column;
    padding: 0px;
    margin-right: 30px;
  }

  .activities-title {
    width: 50%;
  }

  .activities-img {
    aspect-ratio: 3/1;
  }

  .activities-p {
    padding: 15px;
  }

  .footer {
    margin: 0;
    margin-top: 80px;
    flex-direction: column; 
    gap: 2rem;
  }
}